body {
  background-color: #e6e6e6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #fcf8e8;
  border-width: 8px;
  width: 6%;
}

h1 {
  color: grey;
}

h3 {
  color: grey;
}

.eren__radius {
  height: 100px;
  border-radius: 100%;
}